[nodes]
NODE1_IP=
NODE2_IP=
NODE3_IP=

[ports]
P0_PORT=5005
P1_PORT=5001
P2_PORT=5002
P3_PORT=5003
P4_PORT=5004

[process_hosts]
P0_HOST=NODE1_IP
P1_HOST=NODE2_IP
P2_HOST=NODE2_IP
P3_HOST=NODE3_IP
P4_HOST=NODE3_IP
